@font-face{  
    font-family:"Raleway";
    src: url("police/Raleway-VariableFont_wght.ttf") format("truetype");
}

body{
    font-family: "Raleway", Arial, sans-serif;
}

main{  /* Marge de la partie principale du site */
    margin: 1%;
}

/* Alignement nav */
nav{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}

.logo{
   width: 67%;
}

.sinscrire a{
    font-weight: bold;
    color: #0065FC;
}

a{
    text-decoration: none;
    color: black; 
}

.location a:hover, .loisir a:hover{
    color: #0065FC;
   border-top: 2px solid #0065FC;
   padding-top :20px; ;
}


/* Définition taille du titre */
h1{
    font-size: 1.5em;
}

/* Alignement recherche */
#formulaire{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.map{
    background-color: #f2f2f2;
    width: 35px;
    height: 39px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    border: #f2f2f2 1px solid;
}

button{
    height: 41px;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    border: #f2f2f2 1px solid;
}

.search{ /* Icone loupe */
    display: none;
}

/* Alignement filtres */
#filtre{
    display: flex;
    flex-wrap:wrap;    
    font-weight:bold;
    align-items: center;
    margin-top:4%;
    font-size: 1.1em;
    box-sizing: border-box;
    justify-content:space-between ;
    width:72%;   
}

 a:hover{
     color: #0065FC;
}     

.economique, .romantique{
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    padding-right: 25px;
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    height: 35px;
    margin-top: 5%;
    width: 175px;  
    box-sizing: border-box;      
}

.familial{
    display: flex; 
    align-items: center;  
    border: 2px solid #f2f2f2;
    justify-content: space-between; 
    padding-right: 25px;
    border-radius: 20px;
    height: 35px;
    width: 135px;
    margin-top: 5%;
    box-sizing: border-box;  
}

.animaux{
    display: flex; 
    align-items: center;  
    justify-content: space-between; 
    padding-right: 15px; 
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    height: 35px;
    width: 220px;
    margin-top: 5%;
    box-sizing: border-box;    
}

#filtre i{
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color:#DEEBFF;
    box-sizing: border-box;
}

/* Alignement paragraphe information */
p i{
    color: #0065FC;
    margin-top: 2%;
    text-align: center;
    border: 3px solid #f2f2f2;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

/* Alignement article */
article{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/* Alignement titre et icône populaires */
#section2 h2{
    max-width: 350px;
    display: flex;
    justify-content: space-between;
}

/* Alignement images section1 */
#hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Alignement section1 */
#section1{
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 70%;
    margin-top:2%;
    padding: 2% ;
    box-sizing: border-box;
}

.auberge{
    border-radius: 10px;
    border: 1px solid #f2f2f2;
    background-color: white;
    padding: 4px;
    margin-top: 10%;
    box-sizing: border-box;
}

#hebergement img{
    border-radius: 10px 10px 0px 0px;
}

#hebergement .legende{
    position: relative;
    left: 4%;
}

#section1 p{
    font-weight: bold;
    margin-top: 5%;
}

/* Alignement section2 */
#section2{
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 28%;
    min-width: 300px;
    margin-top: 2%;
    padding: 2% 2% 0% 2% ;
    box-sizing: border-box;
}

#populaire{
    padding-top: 9%;
    max-width: 350px;
}

#section2 img{
    width: 127px;
    height: 134px;
    border-radius: 10px 0px 0px 10px;
}

.hotel_soleil, .hotel_bleu, .chambre{
    display: flex; 
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    background-color: white;
    padding: 4px;
    margin-bottom:6%; 
    box-sizing: border-box;  
}

#populaire .legende{
    display:flex;
    flex-direction: column;
    padding: 2% 4% 2% 4% ;
}

.stars{
    margin-top: auto;
}

/* Alignement section3 */
#section3{
    margin-top: 5%;   
}

#activite{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5%;
}

.vieux_port, .fort_pomegues, .iles_frioul, .parc_calanques, .notre_dame, .parc_longchamps{
    border:1px solid #f2f2f2;
    border-radius: 10px;
    padding: 4px;
    margin-top: 2%;
}

.vieux_port img, .parc_calanques img{
    width: 280px;
    height: 360px;
    border-radius: 10px 10px 0px 0px;
}

.fort_pomegues img{
    width: 280px;
    height: 160px;
    border-radius: 10px 10px 0px 0px;
}

.iles_frioul img{
    width: 280px;
   height: 100px;
   border-radius: 10px 10px 0px 0px;
}

.notre_dame img{
    width: 280px;
    height: 120px;
    border-radius: 10px 10px 0px 0px;
}

.parc_longchamps img{
    width: 280px;
    height:140px;
    border-radius: 10px 10px 0px 0px;
}

#fort, #nd{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activite strong{
    padding: 2%;
}

/* Alignement du footer */
footer{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-wrap:wrap;
    padding: 0 30% 2% 1%;
}

ul{
    list-style-type: none;
    padding:0 ;
}

@media screen and (max-width: 570px){ 
        main{ 
            margin: auto;
        }
        
        header{
            margin:3%;
        }

        /* Alignement de la nav */
        nav{
            height: 90px;
            border-bottom: 2px solid #f2f2f2;
            padding-bottom: 10px;
        }

        .loisir a:hover, .location a:hover{
            border-bottom: 2px solid #0065FC;
            border-top: none;
            padding-bottom: 16px;
        }

        /* Alignement des sections */
        #activite{
            flex-direction: column;
        }

        /* Changement d'ordre des liens de navigation */
        .location{
            order: 3;
            width: 40%;
            text-align: center;
        }

        .loisir{
            order: 4;
            width: 60%;
            text-align: right;
            position: relative;
            right: 10%;
        }
        
        .sinscrire{
            order: 2;
        }

        /* Taille du titre */
        h1{
            width: 80%;
        }
        
        /* Alignement champ de recherche */
        #formulaire{
            padding-top: 4%;
        }
        
        .recherche{
            display: none;
            width: 10%;
        }

        .search {
            display: inline;
        }

        button{
            border-radius: 10px;
            width: 15%;
        }

        /* Alignement fitres de recheche */
        #filtre{
            width:auto;
        }
        
        .titre{
            width: 100%;
            margin-top: 2%;
            height:4%;
        }
        
        /* Changement d'ordre des sections */
        #section1 {
            order: 2;
            background-color: white;
            width: auto; 
            margin: auto;   
        }

        #section2 {
            order: 1;
            width:100%;
            border-radius: 0px; 
        }

        #section3{
            width: 348px;
            margin-left:2%;
        }

        /* Taille des images section1 */
        .auberge img{ 
            width: 340px;
            height: 120px;
        }

        /* Tailles des images section3 */
        #section3 img{
            width: 340px;
            height: 120px;
        }

        /* Alignement footer */
        footer{ 
            flex-direction: column;
            padding: 5%; 
            justify-content: space-around;    
        }
}

@media screen and (min-width: 571px) and ( max-width: 1031px){
        #section1, #section2{
            width: 100%;
        }

        #section2 h2{
            max-width: 100%;
        }

        #populaire{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 100%;
            padding-top:1%;
        }

        .hotel_bleu, .hotel_soleil, .chambre{
            width: 300px;
        }
    }